// Colors

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Borders
$thin-border: 1px solid;

// Paddings
$s-pa: .5rem;
$m-pa: 1rem;
$l-pa: 2rem;
$xl-pa: 4rem;
$xxl-pa: 6rem;

// Border-radius
$xs-radius: 2.5px;
$s-radius: 5px;
$m-radius: 7.5px;
$l-radius: 10px;
$xl-radius: 15px;

// MediaQueries
$desktop-breakpoint: 45rem;